{% extends 'base.html' %}
{% block body %}

<link rel="stylesheet" type="text/css" href="static/css/menu1.css">

<section class="about-area pt-60">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 mb-60">
            <div class="section-title text-center">
               <p>Famous for good food</p>
               <h4>Our Biryani Menu</h4>
            </div>
         </div>
      </div>
      <div class="row menu_style1">

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/chicken_biryani.jpg" alt="Chicken Biryani">
               <div class="menu_content">
                  <h4>Chicken Biryani <span>Rs.250</span></h4>
                  <p>Flavorful basmati rice cooked with marinated chicken and aromatic spices.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/mutton_biryani.jpg" alt="Mutton Biryani">
               <div class="menu_content">
                  <h4>Mutton Biryani <span>Rs.350</span></h4>
                  <p>Succulent mutton pieces cooked to perfection in layers of spiced rice.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/egg_biryani.jpg" alt="Egg Biryani">
               <div class="menu_content">
                  <h4>Egg Biryani <span>Rs.180</span></h4>
                  <p>Boiled eggs mixed in fragrant biryani rice, ideal for egg lovers.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/veg_biryani.jpg" alt="Veg Biryani">
               <div class="menu_content">
                  <h4>Veg Biryani <span>Rs.150</span></h4>
                  <p>Loaded with fresh vegetables and cooked in mild, aromatic spices.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/prawn_biryani.jpg" alt="Prawns Biryani">
               <div class="menu_content">
                  <h4>Prawns Biryani <span>Rs.320</span></h4>
                  <p>Delicious prawns cooked with traditional coastal-style biryani spices.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/hyderabadi_biryani.jpg" alt="Hyderabadi Dum Biryani">
               <div class="menu_content">
                  <h4>Hyderabadi Dum Biryani <span>Rs.300</span></h4>
                  <p>Classic dum biryani from Hyderabad with deep flavors and slow cooking.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/kaju_biryani.jpg" alt="Kaju Biryani">
               <div class="menu_content">
                  <h4>Kaju Biryani <span>Rs.270</span></h4>
                  <p>Royal biryani made with roasted cashews and mildly spiced saffron rice.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/special_biryani.jpg" alt="Chef's Special Biryani">
               <div class="menu_content">
                  <h4>Chef's Special Biryani <span>Rs.399</span></h4>
                  <p>A secret blend of meats and spices prepared by our head chef.</p>
               </div>
            </div>
         </div>

         <div class="col-md-4">
            <div class="single_menu_list">
               <img src="static/img/mixed_biryani.jpg" alt="Mixed Biryani">
               <div class="menu_content">
                  <h4>Mixed Biryani <span>Rs.330</span></h4>
                  <p>Chicken, mutton, and egg combined in one flavorful dish.</p>
               </div>
            </div>
         </div>

      </div>
<!-- Drinks Section -->
<!-- Drinks Section -->
<div class="col-xl-12 mb-60 mt-5">
   <div class="section-title text-center">
      <h4>Drinks</h4>
   </div>
</div>

<div class="row menu_style1">

   <div class="col-md-4">
      <div class="single_menu_list">
         <img src="static/img/thumbs_up.jpg" alt="Thumbs Up">
         <div class="menu_content">
            <h4>Thumbs Up <span>Rs.40</span></h4>
            <p>Chilled fizzy cola with a bold, spicy kick.</p>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="single_menu_list">
         <img src="static/img/cocola.jpg" alt="Coca-Cola">
         <div class="menu_content">
            <h4>Coca-Cola <span>Rs.40</span></h4>
            <p>The classic, refreshing taste loved by all.</p>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="single_menu_list">
         <img src="static/img/maaza.jpg" alt="Maaza">
         <div class="menu_content">
            <h4>Maaza <span>Rs.35</span></h4>
            <p>Mango-flavored drink perfect for a fruity refreshment.</p>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="single_menu_list">
         <img src="static/img/sprite.jpg" alt="Sprite">
         <div class="menu_content">
            <h4>Sprite <span>Rs.40</span></h4>
            <p>Lemon-lime soda to cool down your meal experience.</p>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="single_menu_list">
         <img src="static/img/bottle_water.jpg" alt="Mineral Water">
         <div class="menu_content">
            <h4>Mineral Water <span>Rs.20</span></h4>
            <p>Pure and refreshing bottled water.</p>
         </div>
      </div>
   </div>

</div>


</section>


{% endblock body %}
